Repository pangeo-forge/pangeo-forge-runner, pull requests merged in 2023-11, with the labels that each got.

#114 Fix Flink Integration Tests
  .github/workflows/dataflow.yaml
  .github/workflows/flink.yaml
  pangeo_forge_runner/bakery/flink.py
  pangeo_forge_runner/commands/bake.py
  setup.py
  tests/conftest.py
  tests/integration/flink/minio-manifest.yaml
  tests/integration/flink/test_flink_integration.py
  tests/integration/test_flink.py
  tests/unit/test_bake.py
Labels: test-dataflow, test-flink

#130 Drop explicit dependency on pangeo-forge-recipes
  .github/workflows/flink.yaml
  .github/workflows/unit-test.yml
  pangeo_forge_runner/commands/bake.py
  setup.py
  tests/integration/flink/test_flink_integration.py
  tests/unit/test_bake.py
Labels: test-dataflow, test-flink

#96 Enable vertical autoscaling when dataflow prime is enabled
  pangeo_forge_runner/bakery/dataflow.py
Labels: test-dataflow, test-flink

#137 Meta.yaml schema (implemented with traitlets!)
  pangeo_forge_runner/feedstock.py
  pangeo_forge_runner/meta_yaml.py
  tests/unit/test_expand_meta.py
  tests/unit/test_feedstock.py
  tests/unit/test_meta_yaml.py
  tests/unit/test_recipes.py
Labels: test-dataflow, test-flink

#142 Save testing cycles by reducing recipes versions matrix
  .github/workflows/dataflow.yaml
  .github/workflows/flink.yaml
  .github/workflows/unit-test.yml
Labels: test-dataflow, test-flink

#140 In meta_yaml recipes section, `dict_object`s should be a list element
  pangeo_forge_runner/feedstock.py
  pangeo_forge_runner/meta_yaml.py
  tests/unit/test-recipes/dict-recipes/feedstock/meta.yaml
  tests/unit/test_feedstock.py
  tests/unit/test_meta_yaml.py
Labels: test-dataflow, test-flink

#139 Reimplement unique job names from #84
  pangeo_forge_runner/commands/bake.py
  tests/rewriter-tests/callable-args-injection-dictobj/original.py
  tests/rewriter-tests/callable-args-injection-dictobj/params.py
  tests/rewriter-tests/callable-args-injection-dictobj/rewritten.py
  tests/unit/test_bake.py
Labels: test-dataflow, test-flink

#150 Upgrade Flink
  .github/workflows/flink.yaml
Labels: test-flink

#118 Restore optional cache target
  pangeo_forge_runner/commands/bake.py
  pangeo_forge_runner/storage.py
  tests/unit/test_bake.py
Labels: test-dataflow

#151 [Flink] Add option to use JobManager to store history of jobs
  pangeo_forge_runner/bakery/flink.py
  tests/unit/test_flink.py
Labels: test-flink
